

.contact {
	background-image: url(../images/contact.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: white;
}

.contact-container {
	background-color: rgba(3, 3, 3, 0.5);
	padding: 6%;
}

.contact-title {
	padding: 6%;

	h2, h3 {
		color: $tertiaryColor;
	}	
	h3 {
		letter-spacing: 11px;
	}
}

.contact-text {
	text-align: center;
	line-height: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* Portrait tablet and small desktops lightgreen*/
@media (max-width: 940px) {

		.contact-title h2 {
			font-size: 20px;
		}

		.contact-title h3 {
			font-size: 16px;
			letter-spacing: 11px;
		}

	.contact-text p {
		font-size: 16px;
	}
}

/* Landscape phone to portrait tablet lightpink*/
@media (max-width: 768px) {

	.contact-title h2 {
			font-size: 20px;
		}

		.contact-title h3 {
			text-align: center;
			font-size: 16px;
			letter-spacing: 11px;
		}

}

/* Landscape phones and down lemonchiffon */
@media (max-width: 480px) {



}